
#page{
    display:flex;
    flex-direction: column;
    height:100vh;
}
header{
    background-color: #000;
    padding:13px 0px 10px 0px;
    height:10%;
    
}
header div{
    margin-left: 18%;
}
header a{
    text-decoration: none;
    color: white;
    margin-right:15px;
    font-size: 14px;
    
}
#description__container{
    background-color: #c6bfbf;
    
}
#description{
    margin-left: 15%;
    margin-right:15%;
    height: 50%;
    
}
#main__content{
    display:flex;
    flex-direction: row;
    margin-left: 15%;
    margin-right:15%;
    
}
#main__content .main__content--paragraphs{
    margin-right:4.5%;
    margin-bottom: 15%;
}

footer{
    display: flex;
    flex-direction: row;
    background-color: #0b4d14;
    padding:13px 0px 10px 0px;
    height:10%;
}
footer #left__footer{
    margin-left: 14%;
}
footer #right__footer{
    margin-left: 53%;
}
footer a{
    text-decoration: none;
    color: white;
    margin-right: 5px;
}